/*
	========================================
	Dodolan Manuk - Catalog Themes
	========================================
	
	@author			: Afriq Yasin Ramadhan
	@version		: v1.0
	@date-create	: 6/1/2013
	@last-update	: 6/21/2013

*/


/*
	========================================
	TABLE OF CONTENT
	========================================
	
	[1. IMPORT FONTS]
	[2. GLOBAL STYLE]
	[3. TOPBAR]
	[4. NAVBAR]
	[5. CONTENT]
	[6. PORTFOLIO]
	[7. PORTFOLIO SINGLE]
	[8. BLOG]
	[9. CONTACT]
	[10. FOOTER]
	[11. RESPONSIVE]

*/


/*
	==================
	[1. IMPORT FONTS]
	==================
*/
@import url('font-awesome.min.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);


/* 
	==================
	[2. GLOBAL STYLE]
	==================
*/
body{
	background: #fff;
	margin: 0;
	padding:0;
	font: 13px/1.7em 'Open Sans', arial, sans-serif;
    overflow-x: hidden;
}

a{
	color: #6ab2d4;
}

a:hover{
	color: #287cc0;
}

.t-center{
	text-align:center !important;
}

.t-justify{
	text-align: justify !important;
}

.t-left{
	text-align:left !important;
}

.t-right{
	text-align: right !important;
}

.padd20-top-btm{
	padding: 20px 0;
}

::-moz-selection { 
	background: #6ab2d4; 
	color: #fff; 
	text-shadow: none; 
}

::selection { 
	background: #6ab2d4; 
	color: #fff; 
	text-shadow: none; 
}

.breadcrumb {
	text-align: left !important;
}

.form-actions{
	border-top: none;
	background: #ECF0F1;
}

.animated {
  -webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}


@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

.btn {
 	border: none;
	background: #BDC3C7;
	color: white;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden; 
}

.btn:hover, .btn:focus {
	background-color: #95A5A6;
	color: white;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden; 
}

.btn:active, .btn.active {
    background-color: #2c3e50;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
}

.btn.disabled, .btn[disabled] {
    background-color: #95a5a6;
    color: white; 
}

.btn.btn-large {
    padding-bottom: 12px;
    padding-top: 13px; 
	font-size: 18px;
}

.btn.btn-primary {
    background-color: #2980b9; 
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: #3498DB; 
}
    
.btn.btn-primary:active, .btn.btn-primary.active {
    background-color: #3498DB; 
}

.btn.btn-info {
    background-color: #3498db;
}
    
.btn.btn-info:hover, .btn.btn-info:focus {
    background-color: #5dade2;
}
    
.btn.btn-info:active, .btn.btn-info.active {
    background-color: #2383c4; 
}

.btn.btn-danger {
    background-color: #e74c3c; 
}

.btn.btn-danger:hover, .btn.btn-danger:focus {
    background-color: #ec7063; 
}

.btn.btn-danger:active, .btn.btn-danger.active {
    background-color: #dc2d1b; 
}

.btn.btn-success {
    background-color: #2ecc71;
}

.btn.btn-success:hover, .btn.btn-success:focus {
    background-color: #55d98d;
}
   
.btn.btn-success:active, .btn.btn-success.active {
    background-color: #27ad60; 
}
  
.btn.btn-warning {
    background-color: #51aed9;
}
    
.btn.btn-warning:hover, .btn.btn-warning:focus {
    background-color: #a0d5e0;
}

.btn.btn-warning:active, .btn.btn-warning.active {
    background-color: #cea70c;
}

.btn.btn-inverse{
	background-color: #34495e;
}

.btn.btn-inverse:hover, .btn.btn-inverse:focus {
    background-color: #4e6d8d;
}

.btn.btn-inverse:active, .btn.btn-inverse.active{
	background-color: #4e6d8d;
}

input,
button,
select,
textarea {
	font-family: 'Open Sans', sans-serif;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 13px;
	color: #333;
	vertical-align: middle;
	border-radius: 1px;
	-o-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
}

textarea {
	height: auto;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: #ccc;
	background: rgba(255, 255, 255, 0.7);
	outline: 0;
	outline: thin dotted \9;
	color: #6ab2d4;
	/* IE6-9 */

	-webkit-box-shadow: none;
	 -moz-box-shadow: none;
		  box-shadow: none;
}


/*
	==============
	[3. NAVBAR]
	==============
*/
#brand{
	left: 50%;
	margin: -60px auto 0 -93px;
	width: 180px;
	height: 180px;
	border: 5px solid #6ab2d4;
	border-radius: 100%;
	position: absolute;
	background: #ffffff;
	z-index: -1;
}

.navbar{
	border-bottom: 5px solid #6ab2d4;
	margin-bottom: 0;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
	-webkit-box-shadow: none;
	 -moz-box-shadow: none;
		  box-shadow: none;
}

.navbar-fixed-top .navbar-inner, 
.navbar-fixed-bottom .navbar-inner {
	padding-right: 20px;
	padding-left: 20px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.navbar-inner {
	min-height: 60px;
	padding-right: 20px;
	padding-left: 20px;
	background: #ffffff;
	background-color: #ffffff;
	border: 1px solid #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*zoom: 1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar .brand {
	display: block;
	float: left;
	padding: 18px 45px 20px 0;
	margin-left: -20px;
	font-size: 24px;
	font-weight: 600;
	color: #e74c3c;
	text-shadow: 0 1px 0 #ffffff;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

.navbar .brand:hover,
.navbar .brand:focus {
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	color: #ec7063;
}

.navbar-link:hover,
.navbar-link:focus {
	color: #e74c3c;
}

.navbar .logo{
	position: fixed;
	left: 50%;
	min-width: 120px;
	max-width: 120px;
	min-height: 120px;
	max-height: 120px;
	margin: 0 auto 0 -60px;
	background: #ffffff;
	border-radius: 0 0 50% 50%;
}

.navbar .logo img{
	min-width: 120px;
	max-width: 120px;
	min-height: 120px;
	max-height: 120px;
	border-radius: 0 0 50% 50%;
	-o-border-radius: 0 0 50% 50%;
	-moz-border-radius: 0 0 50% 50%;
	-webkit-border-radius: 0 0 50% 50%;
}

.navbar .nav-left > li:nth-child(5n + 0){
	display: none;
}

.navbar .nav-left{
	float: left;
}

.navbar .nav-right{
	margin-left: 170px;
	float: right;
}

.navbar .nav > li > a {
	float: none;
	padding: 10px 17px;
	margin-top: 10px;
	text-transform: uppercase;
	font-weight: 600;
	color: #666666;
	text-decoration: none;
	text-shadow: none;
	transition: color 0.1s ease-in-out;
	-o-transition: color 0.1s ease-in-out;
	-moz-transition: color 0.1s ease-in-out;
	-webkit-transition: color 0.1s ease-in-out;
	font-size: 16px;
}

.navbar .nav {
	padding-left: 0;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
	color: #6ab2d4;
	text-decoration: none;
	background-color: transparent;
	transition: color 0.1s ease-in-out;
	-o-transition: color 0.1s ease-in-out;
	-moz-transition: color 0.1s ease-in-out;
	-webkit-transition: color 0.1s ease-in-out;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	color: #ffffff;
	text-decoration: none;
	background-color: #6ab2d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	color: #ffffff;
	background-color: #6ab2d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

.dropdown-menu {
	margin-top: 25px;
	background-color: #ffffff;
	border: 1px solid #666666;
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 5px;
}

.dropdown-menu  > li > a{
	font-weight: 600;
	color: #666666;
	text-transform: uppercase;
	font-size: 12px;
	
}

.dropdown-menu  > li.nav-header{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #ffffff;
	text-decoration: none;
	background: #6ab2d4;
	font-weight: 600;
  
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background: #6ab2d4;
}


/* 
	==================
	[4. SLIDER]
	==================
*/
#masthead .carousel {
	margin-bottom: 0px;
}

#masthead:after{
	clear: both;
}

#masthead .carousel .container {
	position: relative;
	z-index: 3;
}

#masthead .carousel-control {
	height: 32px;
	margin-top: 0;
	font-size: 30px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background-color: rgba(0,0,0,0.9);
	padding: 4px 0;
	border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	font-weight: 300;
	border: 0;
	z-index: 10;
}

#masthead .carousel .item {
	height: 500px;
}

#masthead .carousel .item img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

#masthead .carousel-caption {
	background-color: rgba(0,0,0,0.3);
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: static;
	max-width: 450px;
	padding: 20px;
	margin-top: 200px;
}

#masthead .carousel-caption h2{
	font-weight: 600;
	margin: 0;
	font-size: 32px;
	line-height: 36px;
	color: #fff;
	text-shadow: none;
	padding-bottom: 15px;
	text-transform: capitalize;
}

#masthead .carousel-caption .lead {
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
	color: #fff;
}

#masthead .carousel-caption .btn {
	margin-top: 10px;
}

#masthead .carousel-fadein .item {
	-webkit-transition: opacity 2s ease-in-out;
	-moz-transition: opacity 2s ease-in-out;
	-ms-transition: opacity 2s ease-in-out;
	-o-transition: opacity 2s ease-in-out;
	transition: opacity 2s ease-in-out;
}
#masthead .carousel-fadein .active.left,
#masthead .carousel-fadein .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}
#masthead .carousel-fadein .next,
#masthead .carousel-fadein .prev {
	left: 0;
	z-index: 1;
}

#masthead .carousel-fadein .carousel-control {
	z-index: 3;
}


/* 
	==================
	[5. TAGLINE]
	==================
*/
#tagline{
	text-align: center;
	padding: 20px 0;
	width: 100%;
	background: #f5f5f5;
}

#tagline h2{
	font-weight: 600;
	text-transform: uppercase;
	font-size: 24px;
	color: #444444;
}


/* 
	==================
	[6. FEATURED]
	==================
*/
#featured{
	padding: 20px 0;
	width: 100%;
	background: #ffffff;
	text-align: center;
}

#featured h2{
	font-size: 26px;
	line-height: 30px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	color: #444444;
}

#featured .thumbnails{
	margin-left: 0;
	padding-left: 0;
}

#featured .thumbnails li{
	position: relative;
	text-align: center;
}

#featured .thumbnails li h3{
	margin-top: 20px;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

#featured .thumbnails li .featured-photos{
	padding: 25px 45px;
	border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #6ab2d4;
	width: 120px;
	margin: 0 auto;
	position: relative;
}

#featured .thumbnails li .featured-photos:after{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 15px solid #6ab2d4;
	border-bottom: 0px solid transparent ;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	left: 50%;
	bottom: -15px;
	margin-left: -20px;
}

#featured .thumbnails li .featured-photos i{
	color: #ffffff;
	font-size: 68px;
	line-height: 70px;
}


/* 
	==================
	[7. CATALOGUE]
	==================
*/
#catalogue{
	padding: 20px 0;
	width: 100%;
	background: #f5f5f5;
	text-align: center;
}

#catalogue h2{
	font-size: 26px;
	line-height: 30px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	color: #444444;
}

#catalogue h3{
	font-size: 16px;
	line-height: 18px;
	text-transform: capitalize;
}

#catalogue .thumbnails li{
	background: #ffffff;
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#catalogue .thumbnails > li > .thumbnail > img{
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

ul.thumbnails li.span6:nth-child(2n + 3),
div.thumbnails div.span6:nth-child(2n + 3){
	margin-left:0px;
	clear:both;
}

ul.thumbnails li.span4:nth-child(3n + 4),
div.thumbnails div.span4:nth-child(3n + 4) {
	margin-left : 0px;
	clear:both;
}

ul.thumbnails li.span3:nth-child(4n + 5),
div.thumbnails div.span3:nth-child(4n + 5) {
	margin-left : 0px;
	clear:both;
}

ul.thumbnails li.span2:nth-child(6n + 7),
div.thumbnails div.span2:nth-child(6n + 7){
	margin-left:0px;
	clear:both;
}

ul.thumbnails li.span12 + li,
div.thumbnails div.span12 + div  {
	margin-left : 0px;
	clear:both;
}

.caption-details{
	width: auto;
	height: auto;
}

.caption-details h3{
	font-weight: 600;
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #0d2231;
	text-align: center;
	text-transform: capitalize;
}

.caption-details .price{
	display: block;
	text-align: center;
	background: #6ab2d4;
	padding: 8px 10px;
	color: #0d2231;
	border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-weight: 600;
}


/* 
	==================
	[8. TESTOMONIAL]
	==================
*/
#testimoni{
	width: 100%;
	background: url(../img/s2.jpg) no-repeat fixed center center transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/s2.jpg',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/s2.jpg',sizingMethod='scale')";
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	_background-size:cover;
	*background-size:cover;
	padding: 80px 0;
	text-align: center;
}

#testimoni .testimoni-icon i {
	font-size: 22px;
	width: 23px;
	color: #ffffff;
	display: inline-block;
	padding: 17px;
	background: #6ab2d4;
	border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
	-o-box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
	-webkit-box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
	-moz-box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
}

#testimoni h3 {
	font-size: 26px;
	line-height: 30px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	letter-spacing: -1px;
	margin: 15px 0;
}

#testimoni .carousel-control {
	height: 20px;
	width: 28px;
	margin-top: 0;
	font-size: 26px;
	line-height:26px;
	text-shadow: none;
	background: #6ab2d4;
	padding: 1px 2px 12px;
	border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	font-weight: 300;
	border: 3px solid #ffffff;
	z-index: 3;
	opacity: 0.8;
	filter: alpha(opacity=80);
}


#testimoni .carousel-control:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

#testimoni a.carousel-control.right {
	top: auto;
	bottom: -20px;
}

#testimoni  a.carousel-control.left {
	top: auto;
	bottom: -20px;
}

#testimoni .carousel .item .testimoni-item{
	color: #ffffff;
	display: block;
	box-shadow: inset 0px 1px 2px -1px #ffffff, inset 0px -1px 2px -1px #ffffff; 
	-o-box-shadow: inset 0px 1px 2px -1px #ffffff, inset 0px -1px 2px -1px #ffffff; 
	-moz-box-shadow: inset 0px 1px 2px -1px #ffffff, inset 0px -1px 2px -1px #ffffff; 
	-webkit-box-shadow: inset 0px 1px 2px -1px #ffffff, inset 0px -1px 2px -1px #ffffff; 
	padding: 40px 0;
	font-size: 14px;
}

#testimoni .carousel .item h4{
	color: #ffffff;
	font-weight: 600;
	font-style: italic;
	font-size: 15px;
	text-transform: capitalize;
}



/* 
	==================
	[9. BLOG]
	==================
*/
#blog{
	padding: 20px 0;
	background: #ffffff;
	width: 100%;
	text-align: center;
}

#blog h2{
	font-size: 26px;
	line-height: 30px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	color: #444444;
}

#blog .thumbnails{
	margin-left: 0;
	padding-left: 0;
}

#blog .thumbnails li{
	position: relative;
	text-align: center;
}

#blog .thumbnails li h3{
	margin-top: 20px;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

#blog .thumbnails li h3 a{
	color: #2C3E50;
	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}

#blog .thumbnails li h3 a:hover{
	color: #6ab2d4;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}

#blog .thumbnails li .blog-date{
	padding: 25px 45px;
	border-radius: 3px;
	background: #6ab2d4;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	position: relative;
}

#blog .thumbnails li .blog-date:after{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 15px solid #6ab2d4;
	border-bottom: 0px solid transparent ;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	margin-top: -10px;
	top: 50%;
	left: 0;
	bottom: 0px;
	margin-left: -25px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

#blog .thumbnails li .blog-date i{
	color: #ffffff;
	font-size: 68px;
	line-height: 70px;
}

#blog .thumbnails li .blog-date .meta-date{
	display: block;
	text-align: center;
	font-size: 40px;
	line-height: 42px;
	color: #ffffff;
}

#blog .thumbnails li .blog-date .meta-month-year{
	display: block;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	text-transform: uppercase;
}

.blog{
	padding-bottom: 20px;
}

.blog .blog-post{
	padding-bottom: 80px;
}

.blog h2{
	font-size: 30px;
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	margin-bottom: 30px;
	color: #2C3E50;
}

.blog h2 a{
	color: #2C3E50;
	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}

.blog h2 a:hover{
	color: #6ab2d4;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}

.blog .the-calendar{
	background: #6ab2d4;
	width: 60px;
	height: 55px;
	border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #ffffff;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: -9px;
	margin-right: 10px;
}

.blog .the-calendar:before{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 10px solid #6ab2d4;
	border-bottom: 0px solid transparent ;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	margin-top: -2px;
	top: 50%;
	left: 0;
	bottom: 0px;
	margin-left: -15px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.blog .the-calendar > .the-date{
	font-size: 12px;
	display: block;
	font-weight: 400;
	line-height: 16px;
	
}

.blog .the-calendar > .the-comments{
	font-size: 12px;
	line-height: 16px;
	display: block;
	font-weight: 400;
	border-top: 1px dotted #ffffff;
	margin: 3px 0;
	padding: 2px 0 0;
	
}

.blog .the-calendar > .the-comments i{
	font-size: 14px;
}

.blog .meta-tags{
	margin: 20px 0 0;
	text-transform: uppercase;
}

/* comment */
.comment{
	margin-top: 0px;
	padding-bottom: 60px;
}

.comment h3{
	font-size: 17px;
	line-height: 19px;
	font-weight: 600;
	color: #555;
	margin: 30px 0;
}

.comment ul.comments{
	list-style-type: none;
	margin-left: 0;
}

.comment img{
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	opacity: 1;
	filter: Alpha(opacity=100);
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.comment img.avatar {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 90px;
	height: 90px;
}

.post-comments{
	border: 1px solid #eff0f2;
    margin-bottom: 20px;
    margin-left: 110px;
	margin-right: 10px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	background: #eff0f2;
}

.comment .meta {
font: 12px 'Open Sans', serif;
color: #666;
padding-bottom: 8px;
margin-bottom: 10px !important;
border-bottom: 1px dotted #E2E2E2;
}

.comment ul.comments ul{
	list-style-type: none;
	margin-left: 100px;
}

.comment label:before{
	clear: both;
}

.comment label{
	margin-top: 15px;
}

.comment .textarea{
	resize: none !important;
	margin-bottom: 15px;
}

.comment .textarea:after{
	clear: both;
}

.coment form{
	margin: 30px 0;
}

/* blog sidebar */
.blog-sidebar .widget{
	margin-bottom: 30px;
	text-align: justify;
}

.blog-sidebar .widget h3{
	font-size: 18px;
	line-height: 24px;
}

.blog-sidebar .widget ul{
	list-style-type: none;
	margin-left: 3px;
}

.column-posts {
	position: relative;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 10px;
	padding-bottom: 15px;
	padding-left: 0px;
	min-height: 50px;
}

.column-posts .featured-post-img img {
	position: absolute;
	left: 0;
	top: 0;
	width: 55px;
	height: 50px;
	overflow: hidden;
}

.column-posts .featured-post-content{
	margin-left: 60px;
}

.column-posts .featured-post-content h5{
	margin-top: 0;
	margin-bottom: 5px;
	line-height: 18px;
	margin-right: 10px;
	font-weight: 600;
}

/*
.blog-sidebar .widget ul li:before{
	content: "\f0da";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: 0;
	width: 1.2em;
	color: #2C3E50;
}*/

.blog-sidebar .widget ul li a{
	color: #6ab2d4;
	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
}

.blog-sidebar .widget ul li a:hover{
	color: #51aed9;
}

.widget-tags:after{
	content: '';
	clear: both;
	display: table;
}

.widget-tags ul{
	list-style-type: none;
	margin-left: 0;
}

.widget-tags ul li{
	float: left;
	margin-bottom: 13px;
}

.widget-tags ul li a{
	border: 1px solid #cccccc;
	margin-right: 5px;
	padding: 5px 10px;
	font-size: 12px;
	color: #2C3E50 !important;
	text-decoration: none;
	background: transparent;
	transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}

.widget-tags ul li a:hover{
	border-color: #dddddd;
	color: #6ab2d4 !important;
	text-decoration: none;
	background: transparent;
	transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}


.tweet,
.query {
	font-size: 13px;
	color: #2C3E50;
}

.tweet_list {
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	background-color: transparent;
}

.tweet_list li {
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0.5em;
	list-style-type: none;
	margin: 0 0 8px;
	text-align: justify;
}
/*
.tweet_list li:before{
	content: "" !important;
	width: 0;
	margin-left: 0;
	display:none;
}
*/
.tweet_list li a {
	color: #E74C3C !important;
}

.tweet_list li a:hover{
	color: #C0392B !important;
}

.tweet_list .tweet_even {
	background-color: transparent;
}

.tweet_list .tweet_avatar {
	padding-right: .5em; float: left;
}

.tweet_list .tweet_avatar img {
	vertical-align: middle;
}



/* head single */
.heads{
	width: 100%;
	background: url(../img/s2.jpg) no-repeat fixed center center transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/s2.jpg',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/s2.jpg',sizingMethod='scale')";
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	_background-size:cover;
	*background-size:cover;
	padding: 120px 0 50px;
	text-align: center;
}

.heads h2{
	font-size: 36px;
	line-height: 38px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
}

.heads h2 span{
	color: #6ab2d4;
}

/* page content */
.page-content{
	padding: 30px 0;
	width: 100%;
	background: #f5f5f5;
}

.page-content h3{
	font-size: 22px;
	line-height: 26px;
	color: #444444;
	text-transform: uppercase;
	font-weight: 600;
}

/* item single */

#itemsingle{
	width: auto;
	padding-bottom: 20px;
}

#itemsingle img{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

#itemsingle .item{
	opacity: 0.2;
	filter: alpha(opacity=20);
	-webkit-transition: opacity 2s ease-in-out;
	-moz-transition: opacity 2s ease-in-out;
	-ms-transition: opacity 2s ease-in-out;
	-o-transition: opacity 2s ease-in-out;
	transition: opacity 2s ease-in-out;
}

#itemsingle .active ,
#itemsingle .active {
	opacity: 1;
	filter: alpha(opacity=1);
	-webkit-transition: opacity 2s ease-in-out;
	-moz-transition: opacity 2s ease-in-out;
	-ms-transition: opacity 2s ease-in-out;
	-o-transition: opacity 2s ease-in-out;
	transition: opacity 2s ease-in-out;
}

#itemsingle .carousel-indicators {
  position: relative;
  top: 30px;
  right: 0px;
  left: 0px;
  z-index: 5;
  margin: 0;
  list-style: none;
  width: 100%;
}

#itemsingle .carousel-indicators li :hover{
	cursor: pointer;
}

#itemsingle .carousel-indicators li {
  display: block;
  float: left;
  width: 85px;
  height: 80px;
  margin-left: 0px;
  margin-right: 13px;
  margin-bottom: 35px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  opacity: 0.6;
  filter:alpha(opacity=60);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#itemsingle .carousel-indicators li:last-child,
#itemsingle .carousel-indicators li:nth-child(3n) {
	margin-right: 0;
}

#itemsingle .carousel-indicators .active {
  background-color: #fff;
  opacity: 1;
  filter:alpha(opacity=100);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.single-item{
	padding-bottom: 20px;
}

.single-item h3{
	color: #6ab2d4;
}

.single-item h4{
	font-size: 34px;
	line-height: 38px;
	font-weight: 600;
	color: #6ab2d4;
}

.single-item  .nav-tabs {
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  margin-bottom: 0;
}

.single-item  .tab-content {
  border: 1px solid #cccccc;
  padding: 20px;
  border-top: 0;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  -moz-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  background: #ffffff;
}

.single-item  .nav-tabs > li {
  margin-bottom: -1px;
}

.single-item  .nav-tabs > li > a {
  color: #aaa;
  padding: 12px 20px;
  background: #fafafa;
  line-height: 21px;
  border: 1px solid #cccccc;
  border-left: none;
  margin-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
	transition: color 0.3s;
	-o-transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
}

.single-item  .nav-tabs > li > a:hover {
  border-color: #ddd #ddd #ccc;
  background-color: #fff;
  color: #6ab2d4;
}

.single-item  .nav-tabs > .active > a,
.single-item  .nav-tabs > .active > a:hover {
  background-color: #fff;
  border-top-color: #6ab2d4;
  border-bottom-color: transparent;
  border-left: none;
  color: #6ab2d4;
  cursor: default;
}

.single-item h5{
	font-size: 16px;
	text-transform: capitalize;
	text-align: center;
	font-weight: 600;
	line-height: 18px;
	color: #6ab2d4;
}

#theteam .thumbnails{
	margin-left: 0;
	padding-left: 0;
}

#theteam .thumbnails li{
	position: relative;
	text-align: center;
}

#theteam .thumbnails li h3{
	margin-top: 20px;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

#theteam .thumbnails li .featured-photos{
	padding: 25px 45px;
	border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #6ab2d4;
	width: 120px;
	margin: 0 auto;
	position: relative;
}

#theteam .thumbnails li .featured-photos:after{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 15px solid #6ab2d4;
	border-bottom: 0px solid transparent ;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	left: 50%;
	bottom: -15px;
	margin-left: -20px;
}

/* contact */
.contact input[type="text"],
.contact input[type="email"],
.contact textarea,
.coment input[type="text"],
.coment input[type="email"],
.coment textarea,
.confirm input[type="text"],
.confirm input[type="email"],
.confirm textarea{
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 0px;
	resize: none;
	background: #eff0f2;
	-webkit-box-shadow: 0 0 1px 2px #eff0f2;
     -moz-box-shadow: 0 0 1px 2px #eff0f2; 
          box-shadow: 0 0 1px 2px #eff0f2;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
.contact textarea:focus,
.coment input[type="text"]:focus,
.coment input[type="email"]:focus,
.coment textarea:focus,
.confirm input[type="text"]:focus,
.confirm input[type="email"]:focus,
.confirm textarea:focus{
	color: #6ab2d4;
	-webkit-box-shadow: 0 0 1px 2px #6ab2d4 !important; 
     -moz-box-shadow: 0 0 1px 2px #6ab2d4 !important;
          box-shadow: 0 0 1px 2px #6ab2d4 !important;
	outline: none;
}

.contact textarea,
.coment textarea{
	padding: 10px;
}

.contact input[type="text"],
.contact input[type="email"]{
	height: 46px;
	padding: 10px
}

.confirm input[type="text"],
.confirm input[type="email"]{
	height: 35px;
	padding: 10px;
}

.coment input[type="text"],
.coment input[type="email"]{
	height: 35px;
	padding: 10px;
	margin-right: 5px;
}

#maps{
	width: 100%;
	height: 350px;
	padding: 20px 0;
}

#maps img{
	max-width:none;
}

/* testimoni */
/* testimony */
.testimoni .thumbnails .thumbnail{
	background: #ECF0F1;
	border-color: #ffffff;
}

.testimoni .thumbnails .thumbnail h3{
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 20px;
	color: #2C3E50;
}

.testimoni .thumbnails .thumbnail p:before{
	position: relative; 
    font-size: 20px; 
	content: "\f10d";
	font-family: FontAwesome;
	top: -10px;
	padding-right: 10px;
	color: #6ab2d4;
}

.testimoni .thumbnails .thumbnail p:after{
	position: relative; 
    font-size: 20px; 
	content: "\f10e";
	font-family: FontAwesome;
	bottom: -10px;
	padding-left: 10px;
	color: #6ab2d4;
}


/* sidebar */
.sidebar h3{
	background: #6ab2d4;
	margin-bottom:0;
	text-align: left;
	padding: 0 15px 0;
	color: #fff;
	font-size: 22px;
	line-height: 50px;
	font-weight: 400;
	text-transform: capitalize;
	border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}

.sidebar .nav-tabs > li > a{
	background: #0d2231;
	border-color: #071622;
	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}

.sidebar .nav-tabs > li > a:hover{
	border-color: #071622;
	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}

.sidebar .nav-tabs > .active > a,
.sidebar .nav-tabs > .active > a:hover,
.sidebar .nav-tabs > .active > a:focus,
.sidebar .nav-tabs > .active > a:active{
	background: #071622;
	color: #bbbbbb;
}

.sidebar .nav-tabs > li:first-child > a{
	border-top-color: transparent;
}

.sidebar .nav-tabs > li:first-child > a,
.sidebar .nav-tabs > li:last-child > a{
	border-radius:0;
	-o-border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

.sidebar .nav-tabs > li > a:before,
.sidebar .nav-tabs > li a:before{
	content: "\f105";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: 0;
	width: 1.2em;
}


/* pricing table */
/* pricing features */
.btn-larges{
	width:70%;
	padding:15px;
	font-size:16px;
}

.pricing{
	width:auto;
	padding:0;
	margin:0;
}

.pricing-striped ul li:nth-child(odd) {
  background-color: #f6f6f6;
}

.pricing-zoom ul{
	transition: transform 0.5s ease-in-out;
	-moz-transition: -moz-transform 0.5s ease-in-out;
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-o-transition: -o-transform 0.5s ease-in-out;
}

.pricing-zoom ul:hover{
	transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    cursor:pointer;
	transition: transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out;
}

.pricing-shadow ul{
	transition: box-shadow 0.4s ease-in-out;
	-moz-transition: -moz-box-shadow 0.4s ease-in-out;
	-webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
	-o-transition: -o-box-shadow 0.4s ease-in-out;
}

.pricing-shadow ul:hover{
    box-shadow:0 0 12px 4px #dddddd;
    -moz-box-shadow:0 0 12px 4px #dddddd;
    -webkit-box-shadow:0 0 12px 4px #dddddd;
    -o-box-shadow:0 0 12px 4px #dddddd;
	transition: box-shadow 0.3s ease-in-out;
	-moz-transition: -moz-box-shadow 0.3s ease-in-out;
	-webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
	-o-transition: -o-box-shadow 0.3s ease-in-out;
}

.pricing-featured{
	position: relative;
}

.pricing-featured ul li:nth-child(3){
	min-width:50px;
	min-height:40px;
	border-radius: 50%;
	background: #ffffff !important;
	color: #333333;
	position: absolute;
	top:0;
	right:0;
	margin: 5px 5px 0 0;
}

.pricing-featured ul li:nth-child(3) p{
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
	padding-top: 10px;
	text-align:center;
	background: #ffffff;
}

.pricing-rotate ul{
	transition: transform 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.pricing-rotate ul:hover{
	transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	-webkit-transform: rotate(-6deg);
	-moz-transition: rotate(-6deg);
	transition: transform 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
}

/* pricing style */
/* STYLE 1 */
.pricing-style1 ul{
	list-style-type:none;
	background: #ECF0F1;
	margin-left:0;
	border:1px solid #1abc9c;
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.pricing-style1 ul li:first-child{
	background: #16a085;
	color: #fff;
	text-align:center;
	height: 40px;
	font-size: 24px;
	font-weight: 600;
	line-height: 26px;
	padding-top: 15px;
	border-bottom:1px solid #16a085;
	border-radius: 2px 2px 0 0;
	-o-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
}

.pricing-style1 ul li:nth-child(2){
	background: #1abc9c;
	color:#ffffff;
	font-size:36px;
	font-weight: 700;
	line-height: 38px;
	text-align:center;
	border-bottom:1px solid #16a085;
}

.pricing-style1 ul li:nth-child(2) p{
	font-size: 19px;
	font-weight: 600;
	line-height: 21px;
}

.pricing-style1 ul li:nth-child(2) sup{
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	position: relative;
	top:-15px;
	left: 10px;
}

.pricing-style1 ul li{
	padding: 15px 10px;
	background: #ffffff;
}

.pricing-style1 ul li:last-child{
	background: #ecf0f1;
	text-align: center;
	border-radius: 0 0 2px 2px;
	-o-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
}


/* STYLE 2 */
.pricing-style2 ul{
	list-style-type:none;
	background: #ECF0F1;
	margin-left:0;
	border:1px solid #1abc9c;
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.pricing-style2 ul li:first-child{
	background: #16a085;
	text-align:center;
	color:#ffffff;
	height: 40px;
	font-size: 24px;
	font-weight: 600;
	line-height: 26px;
	padding-top: 15px;
	border-bottom:1px solid #16a085;
	border-radius: 2px 2px 0 0;
	-o-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
}

.pricing-style2 ul li:nth-child(2){
	background: #1abc9c;
	font-size:36px;
	font-weight: 700;
	line-height: 38px;
	text-align:center;
	color: #ffffff;
}

.pricing-style2 ul li:nth-child(2) p{
	font-size: 19px;
	font-weight: 600;
	line-height: 21px;
}

.pricing-style2 ul li{
	padding: 15px 10px;
	background: #ffffff;
	border-bottom:1px dotted #cccccc;
	text-align:center;
}

.pricing-style2 ul li:last-child{
	background: #ecf0f1;
	text-align: center;
	border-bottom:none;
	border-radius: 0 0 2px 2px;
	-o-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
}


/* STYLE 2 */
.pricing-style3 ul{
	list-style-type:none;
	margin-left:0;
	background: #ECF0F1;
	border:1px solid #1abc9c;
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.pricing-style3 ul li:first-child{
	background: #16a085;
	text-align:center;
	color: #ffffff;
	height: 40px;
	font-size: 24px;
	font-weight: 600;
	line-height: 26px;
	padding-top: 15px;
	border-bottom:1px solid #1abc9c;
	border-radius: 2px 2px 0 0;
	-o-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
}

.pricing-style3 ul li:nth-child(2){
	background: #fff;
	color: #333333;
	font-size:36px;
	font-weight: 700;
	line-height: 38px;
	text-align:center;
	border-bottom:none;
}

.pricing-style3 ul li:nth-child(2) p{
	font-size: 19px;
	font-weight: 600;
	line-height: 21px;
}

.pricing-style3 ul li:nth-child(2) sup{
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	position: relative;
	top:-15px;
	left: 10px;
}

.pricing-style3 ul li{
	padding: 15px 10px;
	background: #ffffff;
	border-bottom:1px dotted #cccccc;
	text-align:center;
}

.pricing-style3 ul li:last-child{
	background: #ecf0f1;
	text-align: center;
	border-bottom:none;
	border-radius: 0 0 2px 2px;
	-o-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
}


/* STYLE 4 */
.pricing-style4 ul{
	list-style-type:none;
	margin-left:0;
	border:1px solid #1abc9c;
	background: #16a085;
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.pricing-style4 ul li:first-child{
	color: #ffffff;
	text-align:center;
	background: #16a085;
	height: 40px;
	font-size: 24px;
	font-weight: 600;
	line-height: 26px;
	padding-top: 15px;
	border-radius: 2px 2px 0 0;
	-o-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
}

.pricing-style4 ul li:nth-child(2){
	color: #ffffff;
	font-size:36px;
	font-weight: 700;
	line-height: 38px;
	text-align:center;
	border-bottom:none;
	background: #16a085;
}

.pricing-style4 ul li:nth-child(2) p{
	font-size: 19px;
	font-weight: 600;
	line-height: 21px;
}

.pricing-style4 ul li:nth-child(2) sup{
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	position: relative;
	top:-15px;
	left: 10px;
}

.pricing-style4 ul li{
	padding: 15px 10px;
	text-align:center;
	background: #16a085;
	color: #ffffff;
}

.pricing-style4 ul li:last-child{
	background: #16a085;
	text-align: center;
	border-bottom:none;
	border-radius: 0 0 2px 2px;
	-o-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
}

/* pricing color */
/* YELLOW */
.pricing-yellow ul{
	border-color: #6ab2d4;
}
.pricing-style1.pricing-yellow ul li:first-child{
	background: #6ab2d4;
	border-bottom:1px solid #6ab2d4;
}
.pricing-style1.pricing-yellow ul li:nth-child(2){
	background: #51aed9;
	border-bottom:1px solid #6ab2d4;
}

/* STYLE 2 */
.pricing-style2.pricing-yellow ul li:first-child{
	background: #6ab2d4;
	border-bottom:1px solid #6ab2d4;
}
.pricing-style2.pricing-yellow ul li:nth-child(2){
	background: #51aed9;
}

/* STYLE 3 */
.pricing-style3.pricing-yellow ul li:first-child{
	background: #6ab2d4;
	border-bottom:1px solid #6ab2d4;
}

/* STYLE 4 */
.pricing-style4.pricing-yellow ul li:first-child{
	background: #6ab2d4;
}
.pricing-style4.pricing-yellow ul li:nth-child(2){
	background: #6ab2d4;
}
.pricing-style4.pricing-yellow ul li{
	background: #6ab2d4;
}
.pricing-style4.pricing-yellow ul li:last-child{
	background: #6ab2d4;
}

/* ORANGE */
.pricing-orange ul{
	border-color: #D35400;
}
.pricing-style1.pricing-orange ul li:first-child{
	background: #D35400;
	border-bottom:1px solid #D35400;
}
.pricing-style1.pricing-orange ul li:nth-child(2){
	background: #E67E22;
	border-bottom:1px solid #D35400;
}

/* STYLE 2 */
.pricing-style2.pricing-orange ul li:first-child{
	background: #D35400;
	border-bottom:1px solid #D35400;
}
.pricing-style2.pricing-orange ul li:nth-child(2){
	background: #E67E22;
}

/* STYLE 3 */
.pricing-style3.pricing-orange ul li:first-child{
	background: #D35400;
	border-bottom:1px solid #D35400;
}

/* STYLE 4 */
.pricing-style4.pricing-orange ul li:first-child{
	background: #D35400;
}
.pricing-style4.pricing-orange ul li:nth-child(2){
	background: #D35400;
}
.pricing-style4.pricing-orange ul li{
	background: #D35400;
}
.pricing-style4.pricing-orange ul li:last-child{
	background: #D35400;
}

/* 
	==================
	[10. FOOTER]
	==================
*/
#footer{
	background: #6ab2d4;
	width: 100%;
	padding: 30px 0;
	text-align: center;
	color: #ffffff;
}

#footer h3{
	text-transform: uppercase;
	font-size: 26px;
	line-height: 30px;
	font-weight: 600;
	margin-bottom: 20px;
}

#footer .icon{
	margin: 30px 0;
}

#footer .social-icon{
	font-size: 26px;
	background: #51aed9;
	line-height: 30px;
	padding: 5px 13px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-right: 8px;
	transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	color: #333333;
}

#footer .social-icon > .icon-facebook{
	padding: 5px 6px;
}

#footer .social-icon:hover{
	text-decoration: none;
	color: #fff;
	transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

#footer .twitter:hover > .social-icon{
	background: #3498DB;
}

#footer .linkedin:hover > .social-icon{
	background: #59A3C0;
}

#footer .google:hover > .social-icon{
	background: #FF4B4B;
}

#footer .facebook:hover > .social-icon{
	background: #4467AD;
}

#footer .github:hover > .social-icon{
	background: #B9C6D0;
}

#footer .sitemap > *{
	margin-left: auto;
	margin-right: auto;
	display: table;
}

#footer .sitemap > ul{
	list-style-type: none;
	padding-left: 0;
	margin-top: 20px;
}

#footer .sitemap > ul > li{
	float: left;
}

#footer .sitemap > ul > li > a{
	text-transform: uppercase;
	padding: 5px 10px;
	font-size: 14px;
	color: #ffffff;
}


/* 
	==================
	[11. COPYRIGHT]
	==================
*/
#copyright{
	background: #51aed9;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	color: #ffffff;
}


/* 
	==================
	[12. RESPONSIVE]
	==================
*/
@media (max-width: 480px){
	body{
		padding: 0px;
		margin:0;
	}
	
	.navbar .btn-navbar {
		margin-right: 20px;
	}
	
	.navbar .btn-navbar {
		margin-top: 18px;
		margin-right: 20px;
		color: #ffffff;
		text-shadow: none;
		background: #6ab2d4;
		border-color: transparent transparent transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		  box-shadow: none;
	}
	
	.navbar .btn-navbar:hover,
	.navbar .btn-navbar:focus,
	.navbar .btn-navbar:active{
		background: #51aed9;
	}
	
	.navbar .btn-navbar .icon-bar {
		background-color: #ffffff;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

@media (min-width: 480px) and (max-width: 767px){
	body{
		padding: 0px;
		margin:0;
	}
	
	.navbar .btn-navbar {
		margin-right: 20px;
	}
	
	.navbar .btn-navbar {
		margin-top: 18px;
		margin-right: 20px;
		color: #ffffff;
		text-shadow: none;
		background: #6ab2d4;
		border-color: transparent transparent transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		  box-shadow: none;
	}
	
	.navbar .btn-navbar:hover,
	.navbar .btn-navbar:focus,
	.navbar .btn-navbar:active{
		background: #51aed9;
	}
	
	.navbar .btn-navbar .icon-bar {
		background-color: #ffffff;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

@media (max-width: 979px){
	body{
		padding: 0px;
		margin:0;
	}
	
	.navbar .nav-right{
		margin-left: 0px;
	}
  
	.navbar .btn-navbar {
		margin-top: 18px;
		margin-right: 20px;
		color: #ffffff;
		text-shadow: none;
		background: #6ab2d4;
		border-color: transparent transparent transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		  box-shadow: none;
	}
	
	.navbar .btn-navbar:hover,
	.navbar .btn-navbar:focus,
	.navbar .btn-navbar:active{
		background: #51aed9;
	}
	
	.navbar .btn-navbar .icon-bar {
		background-color: #ffffff;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	.nav-collapse .dropdown-menu a{
		font-weight: 600;
	}
	
	.nav-collapse .dropdown-menu a:hover {
		font-weight: 600;
		background: #eff0f2;
		color: #2C3E50;
	}
	
	#masthead .carousel-caption {
		margin-top: 200px;
	}
	
	#masthead .carousel-caption h2{
		font-size: 20px;
		line-height: 25px;
	}
	
	.blog .the-calendar:before{
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border: none;
		border-bottom: none;
		border-right: none;
		border-left: none;
		margin-top: 0;
		top: 0;
		left: 0;
		bottom: 0px;
		margin-left: 0px;
		transform: none;
		-webkit-transform: none;
		-o-transform: none;
		-moz-transform: none;
		-ms-transform: none;
	}
	
	.navbar .nav-left{
		float: none;
	}

	.navbar .nav-right{
		float: none;
	}
}

@media (min-width: 979px){
	body{
		padding-top: 60px;
		margin:0;
	}
}

@media (min-width: 1200px) {
    .row {
        margin-left: -20px;
        *zoom: 1;
    }
    .row:before,
    .row:after {
        display: table;
        content: "";
    }
    .row:after {
        clear: both;
    }
    [class*="span"] {
        float: left;
        margin-left: 20px;
    }
    .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 940px;
    }
    .span12 {
        width: 940px;
    }
    .span11 {
        width: 860px;
    }
    .span10 {
        width: 780px;
    }
    .span9 {
        width: 700px;
    }
    .span8 {
        width: 620px;
    }
    .span7 {
        width: 540px;
    }
    .span6 {
        width: 460px;
    }
    .span5 {
        width: 380px;
    }
    .span4 {
        width: 300px;
    }
    .span3 {
        width: 220px;
    }
    .span2 {
        width: 140px;
    }
    .span1 {
        width: 60px;
    }
    .offset12 {
        margin-left: 980px;
    }
    .offset11 {
        margin-left: 900px;
    }
    .offset10 {
        margin-left: 820px;
    }
    .offset9 {
        margin-left: 740px;
    }
    .offset8 {
        margin-left: 660px;
    }
    .offset7 {
        margin-left: 580px;
    }
    .offset6 {
        margin-left: 500px;
    }
    .offset5 {
        margin-left: 420px;
    }
    .offset4 {
        margin-left: 340px;
    }
    .offset3 {
        margin-left: 260px;
    }
    .offset2 {
        margin-left: 180px;
    }
    .offset1 {
        margin-left: 100px;
    }
    .row-fluid {
        width: 100%;
        *zoom: 1;
    }
    .row-fluid:before,
    .row-fluid:after {
        display: table;
        content: "";
    }
    .row-fluid:after {
        clear: both;
    }
    .row-fluid [class*="span"] {
        display: block;
        float: left;
        width: 100%;
        min-height: 28px;
        margin-left: 2.127659574%;
        *margin-left: 2.0744680846382977%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    .row-fluid [class*="span"]:first-child {
        margin-left: 0;
    }
    .row-fluid .span12 {
        width: 99.99999998999999%;
        *width: 99.94680850063828%;
    }
    .row-fluid .span11 {
        width: 91.489361693%;
        *width: 91.4361702036383%;
    }
    .row-fluid .span10 {
        width: 82.97872339599999%;
        *width: 82.92553190663828%;
    }
    .row-fluid .span9 {
        width: 74.468085099%;
        *width: 74.4148936096383%;
    }
    .row-fluid .span8 {
        width: 65.95744680199999%;
        *width: 65.90425531263828%;
    }
    .row-fluid .span7 {
        width: 57.446808505%;
        *width: 57.3936170156383%;
    }
    .row-fluid .span6 {
        width: 48.93617020799999%;
        *width: 48.88297871863829%;
    }
    .row-fluid .span5 {
        width: 40.425531911%;
        *width: 40.3723404216383%;
    }
    .row-fluid .span4 {
        width: 31.914893614%;
        *width: 31.8617021246383%;
    }
    .row-fluid .span3 {
        width: 23.404255317%;
        *width: 23.3510638276383%;
    }
    .row-fluid .span2 {
        width: 14.89361702%;
        *width: 14.8404255306383%;
    }
    .row-fluid .span1 {
        width: 6.382978723%;
        *width: 6.329787233638298%;
    }
    input,
    textarea,
    .uneditable-input {
        margin-left: 0;
    }
    input.span12,
    textarea.span12,
    .uneditable-input.span12 {
        width: 930px;
    }
    input.span11,
    textarea.span11,
    .uneditable-input.span11 {
        width: 850px;
    }
    input.span10,
    textarea.span10,
    .uneditable-input.span10 {
        width: 770px;
    }
    input.span9,
    textarea.span9,
    .uneditable-input.span9 {
        width: 690px;
    }
    input.span8,
    textarea.span8,
    .uneditable-input.span8 {
        width: 610px;
    }
    input.span7,
    textarea.span7,
    .uneditable-input.span7 {
        width: 530px;
    }
    input.span6,
    textarea.span6,
    .uneditable-input.span6 {
        width: 450px;
    }
    input.span5,
    textarea.span5,
    .uneditable-input.span5 {
        width: 370px;
    }
    input.span4,
    textarea.span4,
    .uneditable-input.span4 {
        width: 290px;
    }
    input.span3,
    textarea.span3,
    .uneditable-input.span3 {
        width: 210px;
    }
    input.span2,
    textarea.span2,
    .uneditable-input.span2 {
        width: 130px;
    }
    input.span1,
    textarea.span1,
    .uneditable-input.span1 {
        width: 50px;
    }
    .thumbnails {
        margin-left: -20px;
    }
    .thumbnails > li {
        margin-left: 20px;
    }
    .row-fluid .thumbnails {
        margin-left: 0;
    }
}

/*
  Rules for resolutions between 768 and 979px
*/

@media (max-width: 979px) and (min-width: 768px) {

    .navbar .container {
        width: 724px!important;
    }

}

/*
  Rules for resolutions below 768px
*/

@media (max-width: 767px) {
    .offset0 {
        margin-left: auto !important;
    }
    .spanwidget {
        width: auto !important;
    }
    /* padding on screen sides */
    .container {
        width:90%!important;
    }

    .navbar-inner {
        padding:0 0 10px 0px!important;
    }

    .btn.btn-navbar {
        margin-top:20px;
    }

    /* separate span* classes horizontally */
    [class*="span"] {
        margin-bottom:20px;
    }
}