{% extends "base.html" %}	

{% block content %}
<div class="heads">
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<h2><span>//</span>CECCUBAN</h2>
			</div>
		</div>
	</div>
</div>

<div class="page-content">
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<ul class="breadcrumb">
				  <li><a href="/">Inicio</a> <span class="divider">/</span></li>
				  <li class="active">Ceccuban</li>
				</ul>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span8">	
			<br>				
				<p><h3 style="font-weight: normal; text-transform: none">El Centro de Concientización, Cuidado y Bienestar Animal, es un programa perteneciente al H. Ayuntamiento de Tarímbaro que nace con la finalidad de abordar con un nuevo enfoque la problemática de la sobrepoblación de perros y gatos callejeros así como la mejora en calidad de vida de los que tienen casa.</h3></p>
			</div>
			<div class="span4">
				<img src="http://imageshack.com/a/img541/6887/ybms.jpg" alt="">
			</div>
		</div>

		<br>
		<br>
		<br>
		
		<div class="row-fluid padd20-top-btm">
			<div class="span4">
				<img src="http://imageshack.com/a/img42/2369/fexl.jpg" alt="">
			</div>
			<div class="span8">			
			<br>
			<br>
			<br>
			<br>		
			<br>
				<p>
					<h3 style="font-weight: normal; text-transform: none">La problemática nace de la propia comunidad y en ella está la solución. El Ayuntamiento a través de Jornadas de Concientización, Esterilización y Reubicación de animales a Adoptantes, irá arrancando de raíz esta situación descontrolada de fauna callejera que genera riesgos para la ciudadanía y crueldad hacia los animales <em>INTEGRANDO A LOS PROPIOS HABITANTES EN ESTAS SOLUCIONES Y EJECUTÁNDOLAS DE MANERA CONJUNTA.</em></h3>
					<br><br>
				</p>
			</div>					
		</div>			
			<div class="span12 t-center">
				<h3>
					<p>
						Así pues, esta página presenta a ti, el trabajo realizado. 
					</p>
					<small>CECCUBAN - H. Ayuntamiento de Tarímbaro</small>
				</h3>					
			</div>
		</div>
	</div>
</div>

{% endblock %}