{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}

<div class="heads">
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<h2><span>//</span> En Adopcion</h2>
			</div>
		</div>
	</div>
</div>

<div id="catalogue">
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<ul class="breadcrumb">
					<li><a href="/">Inicio</a> <span class="divider">/</span></li>
					<li><a href="/galeria">Galería</a> <span class="divider">/</span></li>
				  <li class="active">En Adopcion</li>
				</ul>
			</div>
		</div>		
		<div class="row-fluid">
			<div class="span12">
				<h2>Galeria para adopciones</h2>
				<p>Imagenes de animalitos listos para adopción</p>
				<ul class="thumbnails">
				  {% for disponible in disponibles %}
				  <li class="span3">
					<div class="thumbnail">
					  <a href="/galeria/adopciones/{{disponible.slug}}">
					  	<img src="{{disponible.foto.url}}"/>
					  </a>
					  <div class="caption-details">
						<h3>{{disponible.nombre}}</h3>	
						{% if disponible.disponble %}
						<span class="price">Disponible</span>	
						{% endif %}					
					  </div>
					</div>
				  </li>
				  {% endfor %}			  					  
				</ul>				
			</div>
		</div>	
	</div>
</div>
{% endblock %}
