<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>CECCUBAN | H. Ayuntamiento de Tarímbaro</title>    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Centro de Cuidado Protección y Bienestar Animal">
    <meta name="keywords" content="adopta, adopciones, asociación, ceccuban, ghapad, tarímbaro">
    <meta name="author" content="AAlvAAro | Alvaro Delgado Covarrubias">

    <!-- Le styles -->
    {% load staticfiles %}
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" />
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" id="colors">
    <link rel="stylesheet" href="{% static 'css/switcher.css' %}">

    <!---->
	
	<!--[if IE 7]>
	<link rel="stylesheet" href="{% static 'css/font-awesome-ie7.min.css' %">
	<![endif]-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    

    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-44925084-1', 'ceccuban.herokuapp.com');
	  ga('send', 'pageview');

    </script>
    
  </head>

  <body>
	
	
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<div class="nav-collapse collapse navbar-responsive-collapse">
					<ul class="nav nav-left">
					  <li class="active"><a href="/">Inicio</a></li>
					  <li><a href="/quienes_somos">Información</a></li>
					  <li><a href="/galeria">Galería</a></li>		  
					</ul> 
					<a href="#" class="logo visible-desktop"><img src="{% static 'img/logo.jpg' %}" alt=""></a>
					<div id="brand" class="visible-desktop">&nbsp;</div>
					<ul class="nav nav-right">					  
					  <li><a href="/noticias">Noticias</a></li>					
					  <li><a href="/contacto">Contacto</a></li>
					</ul>
				</div><!-- /.nav-collapse -->
			</div>
		</div><!-- /navbar-inner -->
	</div>


{% block content %}
{% endblock %}

<div id="footer">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<h3>CECCUBAN</h3>                                                                                                                                                                                            
					<p>Centro de Concientización Cuidado y Bienestar Animal</p>
					<div class="row-fluid">
						<div class="icon">
							<span class="facebook"><a href="https://www.facebook.com/ghapad.tarimbaro?fref=ts" class="social-icon" target="blank"><i class="icon-facebook"></i></a></span>					
							<span class="youtube"><a href="http://www.youtube.com/user/Bristeriosa?" class="social-icon" target="blank"><i class="icon-youtube"></i></a></span>
						</div>											
					</div>
					<div class="sitemap">
						<ul>
							<li><a href="/">INICIO</a></li>
							<li><a href="/quienes_somos">INFORMACIÓN</a></li>
							<li><a href="/galeria">GALERÍA</a></li>
							<li><a href="/noticias">NOTICIAS</a></li>
							<li><a href="/contacto">CONTACTO</a></li>
						</ul>
					</div>
				</div>
			</div>			
		</div>
	</div>
	
	<div id="copyright">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					&copy; CECCUBAN 2014
					<small>					
					
					</small> 
				</div>
			</div>
		</div>
	</div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/switcher.js' %}"></script>
    {% block map %} {% endblock %}
  </body>
</html>
