{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
	
	<div class="heads">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<h2><span>//</span> Noticias</h2>
				</div>
			</div>
		</div>
	</div>
	
	<div class="page-content">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<ul class="breadcrumb">
					  <li><a href="/">Inicio</a> <span class="divider">/</span></li>
					  <li class="active">Noticias</li>
					</ul>
				</div>
			</div>
			
			<div class="row-fluid blog">
				<div class="span9">
					{% for noticia in noticias %}
					<div class="row-fluid blog-post">
						<div class="span12">
							<h2>
								<span class="the-calendar">
									<span class="the-date">{{noticia.fecha}}</span>				
								</span>
								<a href="/noticias/{{e.slug}}">{{noticia.titulo}}</a>
							</h2>
							<img src="{{noticia.imagen.url}}" alt="">
							<hr>
							<p>{{noticia.contenido|safe|slice:"0:200"}}</p>
							<p><a href="/noticias/{{noticia.slug}}" class="btn btn-warning">Leer Más &raquo;</a></p>			
						</div>
					</div>		
					{% endfor %}
					
					<div class="row-fluid">
						<div class="span12">
							<div class="pagination pagination-centered">
							  <ul>
							  	{% if posts.has_previous %}
								<li class="disabled"><a href="?page={{noticias.previous_page_number}}">&laquo; Anterior</a></li>
								{% endif %}
								<li><a href="" style="pointer-events: none; cursor: default;">Página {{noticias.number}} de {{noticias.paginator.num_pages}}</a></li>		
								
								{% if posts.has_next %}
								<li><a href="?page={{noticias.next_page_number}}">Siguiente &raquo;</a></li>
								{% endif %}
							 </ul>
							</div>
						</div>
					</div>
				</div>
				
				<div class="span3">					
					{% include "sidebar.html" %}
				</div>
			</div>
			
			
		</div>
	</div>
	
	{% endblock %}