{% extends "base.html" %}

{% block content %}
{% load staticfiles %}


	<div class="heads">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<h2><span>//</span> Contactanos</h2>
				</div>
			</div>
		</div>
	</div>
	
	<div class="page-content contact">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<ul class="breadcrumb">
						<li><a href="/">Inicio</a> <span class="divider">/</span></li>
					  <li class="active">Contactanos</li>
					</ul>
				</div>
			</div>
			
			<div class="row-fluid">
				<div class="span12 t-center">					
					<p>
						<font size="4">
							Tienes alguna duda o comentario, haznosla llegar y con gusto la atenderemos!!
						</font>
					</p>
				</div>
			</div>
			<div class="row-fluid padd20-top-btm">	
				<div class="span6">
					<img src="/static/img/chihuahua.jpg" width="450px" heigth="1500px" alt="">
				</div>	
				<div class="span6">
					<br>
					<br>
					<br>
					<br>
					<br>
					<h3>Enviar mensaje</h3>
					
						
					{{flash}}
					<form method="post" action="/contacto/"> {% csrf_token %}		
						{{form.nombre}}	
						{{form.email}}
						{{form.mensaje}}				
						<input type="submit" name="submit" value="Enviar Mensaje" class="btn btn-warning btn-block btn-large"> 
					</form>
				</div>
				
			</div>
		</div>		
	</div>
	
	
	<div id="responsive_map"></div>
	<style type="text/css">
	#responsive_map {height: 500px; width: 100%;}
	#responsive_map div {-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
	.gm-style-iw {max-width: none !important; min-width: none !important; max-height: none !important; min-height: none !important; overflow-y: hidden !important; overflow-x: hidden !important; line-height: normal !important; padding: 5px !important; }
	</style>
	


{% endblock %}

{% block map %}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3.exp"></script>
<script src="{% static 'js/jquery.gmap.min.js' %}"></script>
<script src="{% static 'js/mapgenerator.js' %}"></script>
{% endblock %}