{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

<div class="heads">
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<h2><span>//</span>Información</h2>
			</div>
		</div>
	</div>
</div>

<div class="page-content">
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<ul class="breadcrumb">
				  <li><a href="/">Inicio</a> <span class="divider">/</span></li>
				  <li><a href="/galeria">Galería</a><span class="divider">/</span></li>
				  <li><a href="/galeria/adopciones">Adopciones</a><span class="divider">/</span></li>
				  <li class="active">{{adopcion.nombre}}</li>
				</ul>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span9 single-item">
				<div class="row-fluid">
					<div class="span5">
						<div id="itemsingle" class="carousel slide clearfix">
						
							<div class="carousel-inner">
							  <div class="item active">
								<img src="{{adopcion.foto.url}}" alt="">
							  </div>							  
							</div>		
						
						</div>
					</div>
					<div class="span7">
						<h4>{{adopcion.nombre}}</h4>
						<p><b>Tipo: </b>{{adopcion.tipo}}</p>
						<p><b>Sexo: </b>{{adopcion.sexo}}</p>
						{% if adopcion.descripcion %}
						<h3><b>Descripción: </b></h3>
						<p>{{adopcion.descripcion|safe}}</p>
						{% endif %}
						<br><br>
						<span class="label label-warning">Compartir: </span>
						<br><br>
						<div class="row-fluid">
							<!-- AddThis Button BEGIN -->
							<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
							<a class="addthis_button_facebook"></a>
							<a class="addthis_button_twitter"></a>
							<a class="addthis_button_google_plusone_share"></a>
							<a class="addthis_button_pinterest_share"></a>
							<a class="addthis_button_email"></a>
							</div>
							<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
							<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51ffee1c7d4a185a">
							</script>
							<!-- AddThis Button END -->
						</div>						
					</div>					
				</div>				
			</div>
			
			<!--break-->
			
			<div class="span3">
				<div class="row-fluid sidebar">
					<div class="span12">
						<h3>En adopción</h3>
						<ul class="nav nav-tabs nav-stacked">
							{% for disponible in disponibles %}						  
						  <li><a href="/galeria/adopciones/{{disponible.slug}}">{{disponible.nombre}}</a></li>
						  {% endfor %}
						</ul>					
					</div>
				</div>
			</div>
		
		</div>
	</div>
</div>
{% endblock %}

