{% extends 'base.html' %}
{% block content %}

<div class="heads">
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<h2><span>//</span> Esterilizaciones</h2>
			</div>
		</div>
	</div>
</div>

<div id="catalogue">
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<ul class="breadcrumb">
					<li><a href="/">Inicio</a> <span class="divider">/</span></li>
					<li><a href="/galeria">Galería</a> <span class="divider">/</span></li>
				  <li class="active">Esterilizaciones</li>
				</ul>
			</div>
		</div>		
		<div class="row-fluid">
			<div class="span12">
				<h2>Programa de esterilizaciones</h2>					
				<ul class="thumbnails">
				  {% for esterilizacion in esterilizaciones %}
				  <li class="span4 pricing pricing-zoom">
					<div class="thumbnail">
					  <img src="{{esterilizacion.imagen.url}}"/>						  
					</div>
				  </li>
				  {% endfor %}			  					  
				</ul>									
			</div>
			<div class="pagination pagination-centered">
			  <ul>
			  	{% if esterilizaciones.has_previous %}
			  	<li><a href="?page={{esterilizaciones.previous_page_number}}">&laquo; Anterior</a></li>
			  	{% endif %}
			  	<li><a href="" style="pointer-events: none; cursor: default;">Página {{esterilizaciones.number}} de {{esterilizaciones.paginator.num_pages}}</a></li>					
				{% if esterilizaciones.has_next %}
				<li><a href="?page={{esterilizaciones.next_page_number}}">Siguiente &raquo;</a></li>
				{% endif %}
			 </ul>
			</div>
		</div>			
	</div>
</div>

{% endblock %}
