{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}

<div class="heads">
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<h2><span>//</span> Galeria</h2>
			</div>
		</div>
	</div>
</div>

<div id="catalogue">
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<ul class="breadcrumb">
					<li><a href="/">Inicio</a> <span class="divider">/</span></li>
				  <li class="active">Galería</li>
				</ul>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">								
				<ul class="thumbnails">
					<li class="span6">
						<div class="thumbnail">
						  <a href="/galeria/adopciones"><img src="http://imageshack.com/a/img191/5153/smcp.jpg" alt="" /></a>
						  <div class="caption-details">							
							<h3>En adopción</h3>
						  </div>
						</div>
					  </li>
					  <li class="span6">
						<div class="thumbnail">
						  <a href="/galeria/esterilizaciones"><img src="http://imageshack.com/a/img706/8562/vp5l.jpg" width="450" alt="" /></a>
						  <div class="caption-details">							
							<h3>Esterilizaciones</h3>
						  </div>
						</div>
					  </li>
					  <li class="span6">
						<div class="thumbnail">
						  <a href="/galeria/pintas"><img src="http://imageshack.com/a/img513/1519/viaa.jpg" alt="" /></a>
						  <div class="caption-details">							
							<h3>Pintas</h3>
						  </div>
						</div>
					  </li>
					  <li class="span6" id="video">
						<div class="thumbnail">
						  <a href="#video">
						  	<iframe id="player" type="text/html" width="450" height="335"
							  src="http://www.youtube.com/embed/WXyoxHYR7tQ" frameborder="0">
							</iframe>
						  </a>
						  <div class="caption-details">							
							<h3>Video</h3>
						  </div>
						</div>
					  </li>
				</ul>
			</div>
		</div>			
	</div>
</div>

{% endblock %}
