{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
        
<div id="masthead">
  <div id="slider" class="carousel slide carousel-fadein">
    <ol class="carousel-indicators">
      <li data-target="#slider" data-slide-to="0"  class="active"></li>
      <li data-target="#slider" data-slide-to="1" class=""></li>
      <li data-target="#slider" data-slide-to="2" class=""></li>
    </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="{% static 'img/header.png' %}" alt="">
      <div class="container"></div>
  </div>
  <div class="item">
    <img src="{% static 'img/carousel.jpg' %}" alt="">
    <div class="container">      
    </div>
  </div>
  <div class="item">
    <img src="{% static 'img/s3.jpg' %}" alt="">
    <div class="container">
     <div class="carousel-caption">
       <h2>Adopciones</h2>
       <p class="lead">No compres raza, adopta uno sin casa, de todos tamaños, colores y carácteres, ¡conócelos!</p>
       <a class="btn btn-large btn-warning" href="/adopciones">Adopta</a>
     </div>
    </div>
  </div>  
</div>
<a class="left carousel-control" href="#slider" data-slide="prev">&lsaquo;</a>
<a class="right carousel-control" href="#slider" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
</div>
    
<div id="tagline">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>¡Bienvenidos a la pagina del CECCUBAN!</h2>
        <font size="4">Centro de Concientización, Cuidado y Bienestar Animal</font> <br>
        <font size="4">H. Ayuntamiento de Tarímbaro</font>       
      </div>
    </div>
  </div>
</div>
    
<div id="featured">
  <div class="container">
    <div class="row-fluid">
      <h2>Servicios</h2>
      <p>¿Cuáles son las tareas del ceccuban?</p>
      <ul class="thumbnails">
        <li class="span4">
          <a href="/adopciones">
            <div class="featured-photos">
              <img src="{% static 'img/heart.png' %}" alt="">
            </div>
          </a>
          <h3>Adopciones</h3>
          <p>No compres raza, adopta uno sin casa, de todos tamaños, colores y carácteres, ¡conócelos!</p>
        </li>
        <li class="span4">
          <a href="/esterilizaciones">
            <div class="featured-photos">
              <img src="{% static 'img/esterilizar.png' %}" alt="">
            </div>
          </a>
          <h3>Esterilizaciones</h3>
          <p>Pregunta por los módulos gratuitos dentro del municipio, ¡son gratis! esterilizar a uno salva a miles.</p>
        </li>
        <li class="span4">
          <a href="/quienes_somos">
            <div class="featured-photos">
              <img src="{% static 'img/dog.png' %}" alt="">
            </div>
          </a>
          <h3>Concientización</h3>
          <p>Pláticas, perifoneo, pintas, proyecciones visuales, organiza a tu colonia para una sesión!. </p>
        </li>
      </ul>
    </div>
  </div>
</div>

{% if disponibles.first %}        
<div id="catalogue">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <h2>En adopción</h2>
        <p>Perros y gatos esperando hogar</p>
        <ul class="thumbnails">
          {% for disponible in disponibles %}
          <li class="span3">
            <div class="thumbnail">
              <a href="/galeria/adopciones/{{disponible.slug}}">
                <img src="{{disponible.foto.url}}" alt="" />
              </a>
              <div class="caption-details">
                    <h3>{{disponible.nombre}}</h3>
                    {% if disponible.disponible %}
                    <span class="price">Disponible</span>
                    {% endif %}
              </div>
            </div>
          </li>
          {% endfor %}          
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
        
<div id="testimoni">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <p class="testimoni-icon"><img src="{% static 'img/sun.png' %}" alt=""></p>
        <h3>CECCUBAN</h3>
        <div class="row-fluid">
          <div class="span12">
            <div id="testi" class="carousel slide">
              <div class="carousel-inner">
                <div class="item active">
                  <p class="testimoni-item" style="font-size: 150%">No compres raza, adopta uno sin casa, de todos tamaños, colores y carácteres, ¡conócelos!</p>                  
                </div>
                <div class="item">
                  <p class="testimoni-item" style="font-size: 150%">Pregunta por los módulos gratuitos dentro del municipio, ¡son gratis! esterilizar a uno salva a miles.</p>                  
                </div>
                <div class="item">
                  <p class="testimoni-item" style="font-size: 150%">Pláticas, perifoneo, pintas, proyecciones visuales, organiza a tu colonia para una sesión!.</p>                  
                </div>
              </div>
              <br>
              <br>
              <a class="left carousel-control" href="#testi" data-slide="prev">&lsaquo;</a>
              <a class="right carousel-control" href="#testi" data-slide="next">&rsaquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if noticias.first %}        
<div id="blog">
  <div class="container">
    <div class="row-fluid">
      <h2>Noticias</h2>
      <br>     
      <ul class="thumbnails">
        {% for noticia in noticias %}
        <li class="span4">
          <div class="blog-date">
                  <img src="{% static 'img/news.png' %}" alt="">
                  <span class="meta-date"></span>
                  <span class="meta-month-year">{{noticia.fecha}}</span>
          </div>
          <h3><a href="/noticias/{{noticia.slug}}">{{noticia.titulo}}</a></h3>          
          <p><a href="/noticias/{{noticia.slug}}" class="btn btn-warning">Leer más &raquo;</a></p>
        </li>
        {% endfor %}       
      </ul>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
        
        