{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}


<div class="heads">
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<h2><span>//</span> Pintas</h2>
			</div>
		</div>
	</div>
</div>

<div id="catalogue">
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<ul class="breadcrumb">
				  <li><a href="/">Inicio</a> <span class="divider">/</span></li>
				  <li><a href="/galeria">Galeria</a> <span class="divider">/</span></li>
				  <li class="active">Pintas</li>
				</ul>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12">
				<h2>Pintas del Municipio</h2>					
				<ul class="thumbnails">
				  {% for pinta in pintas %}
				  <li class="span4 pricing pricing-zoom">
					<div class="thumbnail">
					  <img src="{{pinta.imagen.url}}"/>				  
					</div>
				  </li>
				  {% endfor %}			  					  
				</ul>									
			</div>
			<div class="pagination pagination-centered">
			  <ul>
			  	{% if pintas.has_previous %}
			  	<li><a href="?page={{pintas.previous_page_number}}">&laquo; Atrás</a></li>
			  	{% endif %}
			  	<li><a href="" style="pointer-events: none; cursor: default;">Página {{pintas.number}} de {{pintas.paginator.num_pages}}</a></li>
			  	
				{% if pintas.has_next %}
				<li><a href="?page={{posts.next_page_number}}">Adelante &raquo;</a></li>	
				{% endif %}
			 </ul>
			</div>
		</div>			
	</div>
</div>
{% endblock %}
