{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
	
	<div class="heads">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<h2><span>//</span> noticia</h2>
				</div>
			</div>
		</div>
	</div>
	
	<div class="page-content">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<ul class="breadcrumb">
					  <li><a href="/">Inicio</a> <span class="divider">/</span></li>
					  <li><a href="/blog">Blog </a></li>
					  <li class="active"><span class="divider">/</span> {{noticia.titulo}}</li>
					</ul>
				</div>
			</div>
			
			<div class="row-fluid blog">
				<div class="span9">
					<div class="row-fluid blog-post">
						<div class="span12">
							<h2>
								<span class="the-calendar">
									<span class="the-date">{{noticia.fecha}}</span>			
								</span>
								{{noticia.titulo}}
							</h2>
							<img src="{{noticia.imagen.url}}" alt="">
							<hr>
							<p>{{noticia.contenido}}</p>							
						</div>
					</div>
					
					<div class="row-fluid">
						<div class="span12 comment">
							
							<h1>Comentarios de Disquss</h1>
						</div>
					</div>				
				</div>
				
				<div class="span3">					
					{% include "sidebar.html" %}
				</div>
			</div>
			
			
		</div>
	</div>
	
	{% endblock %}