{% load staticfiles %}

<div class="row-fluid blog-sidebar">
	<div class="span12">
		<div class="widget">
			<h3>CECCUBAN</h3>
			<p>El Centro de Concientización, Cuidado y Bienestar Animal, es un programa perteneciente al H. Ayuntamiento de Tarímbaro que nace con la finalidad de abordar con un nuevo enfoque la problemática de la sobrepoblación de perros y gatos callejeros así como la mejora en calidad de vida de los que tienen casa.</p>
		</div>
		
		{% if noticias.first %}
		<div class="widget">
			<h3>NOTICIAS RECIENTES</h3>
			<ul>
				{% for noticia in noticias %}
				<li>
					<div class="column-posts">
						<div class="featured-post-img">
							<a href="/noticias/{{noticia.slug}}"><img src="{{noticia.imagen.url}}" alt="{{noticia.titulo}}"></a>
						</div>
						<div class="featured-post-content">
						<h5>
							<a href="single.html">{{noticia.titulo}}</a>
						</h5>
						<small><i class="icon-calendar"></i> <time>{{noticia.fecha}}</time></small>
						</div>
					</div>
				</li>
				{% endfor %}				
			</ul>
		</div>
		{% endif %}
		
		{% if disponibles.first %}
		<div class="widget widget-tags">
			<h3>En adopción</h3>
			<ul>
				{% for disponible in disponibles %}
				<li><a href="/galeria/adopciones/{{disponible.slug}}">{{disponible.nombre}}</a></li>
				{% endfor %}				
			</ul>
		</div>
		{% endif %}
		
	</div>
</div>